<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="nl.mobilediscussie.crashapp" android:versionCode="1" android:versionName="Crash">
	<uses-sdk android:minSdkVersion="8" />
	<application android:icon="@drawable/Icon" android:label="CrashApp"></application>
</manifest>